<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="BIND_GET_INSTALL_REFERRER_SERVICE" />
    <uses-permission android:name="com.android.vending.CHECK_LICENSE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application
        android:name="com.enliple.mobmixersdk.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobMixerSDKSample"
        android:usesCleartextTraffic="true">

        <activity
            android:name="com.enliple.mobmixersdk.ui.MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.enliple.mobmixersdk.ui.BannerViewActivity"
            android:exported="false"/>

        <activity android:name="com.enliple.mobmixersdk.ui.BannerArticleViewActivity"
            android:exported="false"/>


        <activity android:name="com.enliple.mobmixersdk.ui.InterstitialAdActivity"
            android:exported="false"/>



        <activity android:name="com.enliple.mobmixersdk.ui.EndingAdActivity"
            android:exported="false"/>


        <activity android:name="com.enliple.mobmixersdk.ui.NativeAdActivity"
            android:exported="false"/>

        <activity android:name="com.enliple.mobmixersdk.ui.NativeAdLoaderActivity"
            android:exported="false"/>

        <activity android:name="com.enliple.mobmixersdk.ui.FreePassAdActivity"
            android:exported="false"/>

        <activity android:name="com.enliple.mobmixersdk.ui.RewardAdActivity"
            android:exported="false"/>

        <activity android:name="com.enliple.mobmixersdk.ui.PointBannerActivity"
            android:exported="false"/>

        <activity android:name="com.enliple.mobmixersdk.ui.AdopTestActivity"
            android:exported="false"/>


        <meta-data
            android:name="applovin.sdk.key"
            android:value="cyOmFZkTu_mdxFtH7wD1RVxBwy4Z_NEa6rF5czSgSulvk-DJfrF3-ymxsWhEgUQhDpC1dTwLKR3G8ntO-2uCaT"/>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8397236892424945~1553929903" />

        <meta-data android:name="com.adop.sdk.APP_DOMAIN" android:value="18250-serving-bidmad.adop.co.kr"/>

<!--        <meta-data-->
<!--            android:name="applovin.sdk.key"-->
<!--            android:value="KnkiNki9COTyeQrLAbTXdhThi2rOpl0NZJmxeW46TngyOPnnEe2J6dk_ekkCDoow2rFV1hgMasEHlhqTHT-s9i" />-->
    </application>

</manifest>